function SquareGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
push pointer 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
not
if-goto SquareGameIF0
push this 0
call Square.moveUp 1
pop temp 0
goto SquareGameIF1
label SquareGameIF0
label SquareGameIF1
push this 1
push constant 2
eq
not
if-goto SquareGameIF2
push this 0
call Square.moveDown 1
pop temp 0
goto SquareGameIF3
label SquareGameIF2
label SquareGameIF3
push this 1
push constant 3
eq
not
if-goto SquareGameIF4
push this 0
call Square.moveLeft 1
pop temp 0
goto SquareGameIF5
label SquareGameIF4
label SquareGameIF5
push this 1
push constant 4
eq
not
if-goto SquareGameIF6
push this 0
call Square.moveRight 1
pop temp 0
goto SquareGameIF7
label SquareGameIF6
label SquareGameIF7
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label SquareGameWhile8
push local 1
not
not
if-goto SquareGameWhile9
label SquareGameWhile10
push local 0
push constant 0
eq
not
if-goto SquareGameWhile11
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto SquareGameWhile10
label SquareGameWhile11
push local 0
push constant 81
eq
not
if-goto SquareGameIF12
push constant 1
neg
pop local 1
goto SquareGameIF13
label SquareGameIF12
label SquareGameIF13
push local 0
push constant 90
eq
not
if-goto SquareGameIF14
push this 0
call Square.decSize 1
pop temp 0
goto SquareGameIF15
label SquareGameIF14
label SquareGameIF15
push local 0
push constant 88
eq
not
if-goto SquareGameIF16
push this 0
call Square.incSize 1
pop temp 0
goto SquareGameIF17
label SquareGameIF16
label SquareGameIF17
push local 0
push constant 131
eq
not
if-goto SquareGameIF18
push constant 1
pop this 1
goto SquareGameIF19
label SquareGameIF18
label SquareGameIF19
push local 0
push constant 133
eq
not
if-goto SquareGameIF20
push constant 2
pop this 1
goto SquareGameIF21
label SquareGameIF20
label SquareGameIF21
push local 0
push constant 130
eq
not
if-goto SquareGameIF22
push constant 3
pop this 1
goto SquareGameIF23
label SquareGameIF22
label SquareGameIF23
push local 0
push constant 132
eq
not
if-goto SquareGameIF24
push constant 4
pop this 1
goto SquareGameIF25
label SquareGameIF24
label SquareGameIF25
label SquareGameWhile26
push local 0
push constant 0
eq
not
not
if-goto SquareGameWhile27
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto SquareGameWhile26
label SquareGameWhile27
goto SquareGameWhile8
label SquareGameWhile9
push constant 0
return
